* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'FiraCode Nerd Font';
    font-size: 14px;
    border-radius: 0px;
    transition-duration: 0.5s;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}



window#waybar.empty {
    opacity: 0.0;
    background-color: transparent;
    transition-duration: 0.5s;
}

window#waybar.empty:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
/*
window#waybar.solo {
    background-color: rgba(0, 0, 0, 0.5);
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}



button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px rgba(235, 219, 178, 0.8);
}

#taskbar button {
    border-radius: 0px;
}

#taskbar button.active {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -2px rgba(184, 187, 38, 0.8);
}

/* you can set a style on hover for any module like this 
#pulseaudio:hover {
    background-color: #000000;
}
*/

#workspaces {
    background: rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
}

#workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0px;
    transition: 0.2s ease-in-out;
    font-size: 15px;
}

#workspaces button.active {
    min-width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    font-weight: 900;
}

#workspaces button.active:hover {
    color: #b8bb26;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -2px #b8bb26;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 10px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#user,
#cava,
#idle_inhibitor,
#scratchpad,
#custom-poweroff,
#custom-appmenu,
#custom-powerbutton,
#custom-reboot,
#custom-suspend,
#custom-lock,
#custom-idlekiller,
#custom-playpause,
#taskbar,
#window,
#power-profiles-daemon,
#mpd {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 0px;
    background: transparent;
}

#window:hover {
    color: #D65D0E;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#window {
    box-shadow: inset 0 -2px rgba(214, 93, 14, 0.8);
    padding: 0 15px;
}

#custom-powerbutton:hover {
    color: rgba(204, 36, 29, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-powerbutton {
    box-shadow: inset 0 -2px rgba(204, 36, 29, 0.8);
}

#custom-reboot:hover {
    color: rgba(215, 153, 33, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-reboot {
    box-shadow: inset 0 -2px rgba(215, 153, 33, 0.8);
}

#custom-suspend:hover {
    color: rgba(168, 153, 132, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-suspend {
    box-shadow: inset 0 -2px rgba(168, 153, 132, 0.8);
}

#custom-lock:hover {
    color: rgba(69, 133, 136, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-lock {
    box-shadow: inset 0 -2px rgba(69, 133, 136, 0.8);
}

#custom-appmenu:hover {
    color: rgba(215, 153, 33, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-appmenu {
    box-shadow: inset 0 -2px rgba(215, 153, 33, 0.8);
}

#custom-playpause:hover {
    color: rgba(215, 153, 33, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-playpause {
    box-shadow: inset 0 -2px rgba(215, 153, 33, 0.8);
}

#battery:hover, 
#battery.charging:hover, 
#battery.plugged:hover {
    color: rgba(104, 157, 106, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#battery,
#battery.charging,
#battery.plugged {
    box-shadow: inset 0 -2px rgba(104, 157, 106, 0.8);
}

#clock:hover {
    color: rgba(69, 133, 136, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#clock {
    box-shadow: inset 0 -2px rgba(69, 133, 136, 0.8);
}

#pulseaudio.muted:hover,
#pulseaudio:hover {
    color: rgba(177, 98, 134, 0.8);
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#pulseaudio,
#pulseaudio.muted {
    box-shadow: inset 0 -2px rgba(177, 98, 134, 0.8);
}

#backlight:hover {
    color: #D65D0E;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#backlight {
    box-shadow: inset 0 -2px rgba(214, 93, 14, 0.8);
}

#user:hover {
    color: #689D6A;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#user {
    box-shadow: inset 0 -2px rgba(104, 157, 106, 0.8);
}

#custom-idlekiller:hover {
    color: #B16286;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0.3)
}

#custom-idlekiller {
    box-shadow: inset 0 -2px rgba(177, 98, 134, 0.8);
}

#custom-weather {
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 5px;
/*    padding-top: 5px; */
}

#cava {
    background: rgba(0, 0, 0, 0.3);
}

#custom-weather {
    background: rgba(0, 0, 0, 0.3);
}

#custom-poweroff:hover {
    background: rgba(255, 0, 0, 0.9);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
} */

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight.hover {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-weather {
    background-color: rgba(0, 0, 0, 0.3);
}

#pulseaudio.muted {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(0,0,0,0.3);
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#pulseaudio-slider {
    padding: 0 10px;
    margin: 0;
    box-shadow: inset 0 -2px rgba(177, 98, 134, 0.8);
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 60px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}
#pulseaudio-slider:hover highlight {
    background: #B16286;
    transition-duration: 0.5s;
} 
#backlight-slider {
    box-shadow: inset 0 -2px rgba(214, 93, 14, 0.8);
    padding: 0 10px;
    margin: 0;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
#backlight-slider:hover highlight {
    background: #D65D0E;
    transition-duration: 0.5s;
} 
